:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section {
  width: 100%;
  background-color: #121212;
}

.section .wrapper-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-row .main,
.wrapper-row .aside {
  width: 50%;
}

.wrapper-row .main {
  height: 100%;
  min-height: 100vh;
}

.wrapper-row .aside {
  background: url(../img/bg.webp) center center/cover no-repeat;
  overflow: auto;
  position: relative;
  min-height: 30rem;
}

.main .main-wrapper {
  width: 100%;
  padding-left: 12%;
  padding-top: 4rem;
  padding-right: 2rem;
}

.aside .aside__gradient {
  position: absolute;
  top: 0;
  width: 10%;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#121212), to(transparent));
  background: -o-linear-gradient(left, #121212, transparent);
  background: linear-gradient(90deg, #121212, transparent);
  z-index: 3;
}

.logo .logo__link {
  font-size: 1.3rem;
  font-family: "openSans_bold";
  color: #f7f7f7;
  display: inline-block;
  letter-spacing: 0px;
  text-decoration: none;
  -webkit-transform: scaleY(1.8);
  -ms-transform: scaleY(1.8);
  transform: scaleY(1.8);
}

.logo .logo__link::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 3px;
  background-color: #be211a;
  vertical-align: middle;
}

.signature .signature__image {
  max-width: 15%;
}

.text-heading .text-heading__title {
  font-family: "openSans_regular";
  margin-top: 0.8em;
  font-size: 2.7rem;
  line-height: 1.5;
  color: #fff;
}

.text {
  margin-top: 3.3em;
  font-size: 1.7rem;
  font-family: "openSans_light";
  line-height: 1.5;
  color: #fff;
  text-shadow: 0px 0px 2px #fff;
}

.mail .mail__link {
  margin: 2em 0 0.5em;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #7e7e7e;
  font-family: "openSans_regular";
}

.contacts {
  margin-bottom: 3em;
  font-size: 1.6rem;
}

.contacts .contacts__btn {
  margin-top: 0.6em;
  padding: 10px;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 10px;
  outline: none;
  color: #fff;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  font-size: 1.6rem;
  background-color: transparent;
  cursor: pointer;
}

.contacts .contacts__btn:hover,
.contacts .contacts__btn:active {
  background-color: red;
  border: 2px solid red;
  border-radius: 10px;
  color: #fff;
}

.contacts .contacts__modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.contacts .modal-container {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}

.contacts .modal__link {
  margin: 5px;
  color: #121212;
  background-color: #f63233;
  border-radius: 50%;
  width: 100%;
  max-width: 7rem;
  min-width: 4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.contacts .modal__link::before {
  content: "";
  padding-top: 100%;
  display: block;
}

.contacts .modal__icon {
  font-size: 3rem;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal .modal__close {
  position: absolute;
  top: 0.5em;
  right: 2em;
  font-size: 4.5rem;
  color: red;
  cursor: pointer;
}

.modal .modal__title {
  margin: 1em 0;
  font-family: "openSans_bold";
  font-size: 3rem;
  color: #fff;
}

.box-btn {
  position: absolute;
  top: 2em;
  right: 12%;
  font-size: 2rem;
}

.box-btn .box-btn__portfolio {
  background-color: transparent;
  border: 0;
  position: relative;
  font-size: inherit;
  color: #FFF;
  cursor: pointer;
  padding-bottom: 0.3em;
  font-family: "openSans_regular";
}

.box-btn .box-btn__portfolio::before,
.box-btn .box-btn__portfolio::after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: 0.6s ease all;
  -o-transition: 0.6s ease all;
  transition: 0.6s ease all;
  bottom: 0;
  width: 50%;
  height: 2px;
  background-color: #fff;
}

.box-btn .box-btn__portfolio::before {
  right: 50%;
  left: 0;
}

.box-btn .box-btn__portfolio::after {
  right: 0;
  left: 50%;
}

.box-btn .box-btn__portfolio:hover::before {
  width: 0;
  left: 50%;
  right: 50%;
}

.box-btn .box-btn__portfolio:hover::after {
  width: 0;
  left: 50%;
  right: 50%;
}

.portfolio .modal-portfolio {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.975);
}

.portfolio .modal-container {
  width: 90%;
  margin: 0 5%;
}

.portfolio .modal__image {
  margin: 1rem 0.2rem;
  width: 55rem;
  height: 62rem;
  -o-object-fit: cover;
  object-fit: cover;
}

@font-face {
  font-family: "openSans_regular";
  src: url(../fonts/OpenSans-Regular.woff);
  src: url(../fonts/OpenSans-Regular.woff2);
}

@font-face {
  font-family: "openSans_light";
  src: url(../fonts/OpenSans-Light.woff);
  src: url(../fonts/OpenSans-Light.woff2);
}

@font-face {
  font-family: "openSans_bold";
  src: url(../fonts/OpenSans-Bold.woff);
  src: url(../fonts/OpenSans-Bold.woff2);
}

@media (min-width: 2000px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 1300px) {
  :root {
    font-size: 9px;
  }
}

@media (max-width: 1080px) {
  :root {
    font-size: 8px;
  }

  .modal .modal__image {
    width: 50rem;
    height: 58rem;
  }

  .main-wrapper {
    padding-left: 5rem;
  }
}

@media (max-width: 820px) {
  .modal .modal__image {
    width: 55rem;
    height: 62rem;
  }
}

@media (max-width: 730px) {
  .modal .modal__image {
    width: 30rem;
    height: 50rem;
  }
}

@media (max-width: 541px) {
  .wrapper-row {
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .aside .aside__gradient {
    display: none;
  }

  .wrapper-row .main,
  .wrapper-row .aside {
    width: 100%;
  }

  .wrapper-row .aside {
    position: static;
  }

  .wrapper-row .main {
    min-height: 0;
  }

  .contacts .modal-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}